* {
    background-color: rgb(29, 29, 29);
}

body {
    display: block;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
}

.leftmenu {
    background-color: #181818;
    width: 12%;
    display: flex;
    flex-direction: column;
}

.mainmenu {
    background-color: transparent;
    width: 82%;
    margin-left: 0;
    padding-top: 0;
}

.rightmenu {
    background-color: #181818;
    width: 6%;
    margin: 0;
}

.profile {
    margin-top: 10%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    /* border-bottom: 5px solid rgb(6, 62, 116); */
    color: white;
}

.profile>img {
    width: 40%;
    height: 40%;
    border-radius: 0%;
}

.profile>span,
b {
    background-color: transparent;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    padding-bottom: 10%;
    border-bottom: .2em solid rgb(29, 29, 29);
}

.contactlogo {
    cursor: pointer;
    background-color: rgb(63, 58, 58);
    text-decoration: none;
    border-radius: 30%;
    padding: 6px 5px 2px 5px;
    margin-left: 20px;
}

.contact>a>svg {
    border-radius: 45%;
}

.contactlogo:first-child {
    margin: 0;
}

.leftmenublock {
    background-color: #181818;
}

.leftsize {
    background-color: #181818;
    color: rgba(255, 255, 255, 0.541);
    font-size: .8em;
    text-align: start;
}

.rightsize {
    font-size: .8em;
    background-color: #181818;
    color: white;
}

.about {
    background-color: transparent;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    /* border-bottom: 5px solid rgb(6, 62, 116); */
    border-bottom: .2em solid rgb(29, 29, 29);
}

.aboutcontent {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.languages {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    /* border-bottom: 5px solid rgb(6, 62, 116); */
    border-bottom: .2em solid rgb(29, 29, 29);
}

.languages,
.languages>div {
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    color: whitesmoke;
}

.headlanguages {
    /* margin-top: 20px; */
    margin-bottom: 5%;
}

.alignlanguages {
    display: flex;
    justify-content: space-between;
}

.sublanguages {
    font-size: .8em;
    font-weight: normal;
    background-color: transparent;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sublanguages:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.skill {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    /* border-bottom: 5px solid rgb(6, 62, 116); */
    color: whitesmoke;
    border-bottom: .2em solid rgb(29, 29, 29);
}

.skill,
.skill>div {
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
}

.headskill {
    /* margin-top: 20px; */
    margin-bottom: 5%;
}

.alignskill {
    display: flex;
    justify-content: space-between;
}

.subskill {
    font-size: .8em;
    font-weight: normal;
    background-color: black;
    margin-bottom: 5%;
    margin-top: 5%;
}

.subskill:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.lineblock {
    border: 0.5px solid black;
    background-color: transparent;
    border-radius: 30px
}

.languages .lineth {
    width: 100%;
    height: 5px;
    background-color: rgb(8, 253, 216);
    border-radius: 30px
}

.languages .lineen {
    width: 80%;
    height: 5px;
    background-color: rgb(8, 253, 216);
    border-radius: 30px
}

.skill .linehtml {
    width: 100%;
    height: 5px;
    background-color: rgb(8, 253, 216);
    border-radius: 30px
}

.skill .linecss {
    width: 80%;
    height: 5px;
    background-color: rgb(8, 253, 216);
    border-radius: 30px
}

.skill .linejs {
    width: 1%;
    height: 5px;
    background-color: rgb(8, 253, 216);
    border-radius: 30px
}

.buttoncv {
    background-color: #181818;
    padding-top: 15%;
    padding-bottom: 30px;

}

.buttoncv>div {
    background-color: black;
    border: .4em solid rgb(8, 253, 216);
    border-color: rgb(8, 253, 216) rgb(8, 253, 216) black black;
    margin: 0 8%;

}

.btcv {
    background-color: #181818;
    color: white;
    line-height: 1.5em;
    padding: 5% 13%;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    border-collapse: separate;
    border: .4em solid #FF4655;
}

@keyframes btcv {
    0% {
        background-color: #181818;
        color: white;
        border-collapse: separate;
        border: .5em solid #FF4655;
    }

    50% {
        background-color: #181818;
        color: #FF4655;
        border-collapse: separate;
        border: .5em solid #FF4655;
    }

    100% {
        background-color: #181818;
        color: rgb(8, 253, 216);
        border-collapse: separate;
        border: .5em solid #FF4655;
    }
}

.btcv:hover {
    /* transition: 0.3s ease-out all; */
    animation: btcv .5s linear 0s infinite alternate;
}

.firstmm {
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 29, 29);
    padding-left: 5%;
    padding-top: 3%;
    background-image: url(/portfoliopic/bg.png);
}

.firstmm>img {
    width: 30%;
    margin-top: 0;
    background-image: url(/v-kittiphak.github.io/portfoliopic/profile.png);
}

.textfirstmm {
    display: flex;
    flex-direction: column;
    margin: 13% 0;
    background-color: transparent;

}

.nametextfirstmm {
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
    width: 100%;
    background-color: transparent;
    color: white;
    letter-spacing: 5px;
}

.nameone:hover,
.namethree:hover {
    color: #FF4655;
    transition: .5s ease-out;
    font-size: 1em;
}

.nametwo:hover {
    color: rgb(8, 253, 216);
    transition: .5s ease-out;
    font-size: 1em;
    animation: animatext .8s ease-in 0s 1 normal;
}

.namefour:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
    font-size: 1em;
}

@keyframes animatext {
    0% {
        font-size: 90px;
    }

    10% {
        font-size: 90px;
    }

    20% {
        font-size: 90px;
    }

    30% {
        font-size: 90px;
    }

    40% {
        font-size: 110px;
    }

    50% {
        font-size: 95px;
    }

    60% {
        font-size: 105px;
    }

    70% {
        font-size: 100px;
    }

    80% {
        font-size: 100px;
    }

    90% {
        font-size: 100px;
    }

    100% {
        font-size: 100px;
    }

}

.detailtextfirstmm {
    width: 70%;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    color: #8d8d8d;
    background-color: transparent;
    margin-bottom: 10%;
    margin-top: 10%;
}

.bthire {
    font-size: 1em;
    letter-spacing: .5em;
    margin-top: 5%;
    margin-bottom: 20%;
    padding-top: 5%;
    width: 100%;
    max-width: 300px;
    height: 3em;
    text-align: center;
    color: rgb(8, 253, 216);
    cursor: pointer;
    border: 1px solid rgb(8, 253, 216);
    text-decoration: none;
    /* transition-duration: 1s; */
}

.bthire:hover {
    background-color: rgb(8, 253, 216);
    color: rgb(29, 29, 29);
    font-size: 2em;
    /* transform: translate(100px, 0);
    transform-style: initial; */
    animation: bthire 1s linear 0s infinite alternate;

}

@keyframes bthire {
    0% {
        font-size: 1em;
        letter-spacing: .5em;
        margin-top: 5%;
        margin-bottom: 20%;
        padding-top: 5%;
        width: 100%;
        max-width: 300px;
        height: 3em;
        text-align: center;
        color: rgb(8, 253, 216);
        cursor: pointer;
        border: 1px solid rgb(8, 253, 216);
        transform: translate(0, 0);
    }

    50% {
        background-color: rgb(8, 253, 216);
        color: rgb(29, 29, 29);
        padding-top: 5%;
        font-size: 1em;
        font-weight: bold;
        transform: translate(100px, 0);
    }

    100% {
        background-color: rgb(8, 253, 216);
        color: rgb(29, 29, 29);
        padding-top: 10%;
        font-size: 1.2em;
        font-weight: bold;
        transform: translate(0, 0);
    }
}

.maineducation {
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-bottom: 5%;
    letter-spacing: 20px;
    /* font-style: italic; */
    font-family: 'Patrick Hand', cursive;
}


.maineducation::first-letter {
    font-size: 2em;
    color: rgb(8, 253, 216);
}

.maineducation:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.mmtc,
.acl {
    color: white;
    font-size: 1em;
    line-height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.acl {
    margin-top: 3%;
}

.mmtc img,
.acl img {
    max-width: 150px;
    max-height: 150px;
    background-color: white;
    border-radius: 30px;
    opacity: .5;
}

.mmtc img:hover,
.acl img:hover {
    opacity: 1;
}

.mmtc>div,
.acl>div {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 5px;
}

.mmtc a,
.acl a {
    text-decoration: none;
    color: #FF4655;
    letter-spacing: 1em;
    font-style: italic;
}

.mmtc>div a span,
.acl>div a span {
    text-decoration: none;
    letter-spacing: 1em;
    color: white;
    font-style: normal;
}

.experience {
    display: flex;
    flex-direction: column;
}


.ex {
    display: flex;
    flex-direction: row;
}

.mainexperience {
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-top: 2%;
    letter-spacing: 20px;
    /* font-style: oblique; */
    font-family: 'Patrick Hand', cursive;
}

.mainexperience::first-letter {
    font-size: 2em;
    color: rgb(8, 253, 216);
}

.mainexperience:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.topicex {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    margin-top: 3%;
}

.ex {
    margin-top: 2%;
}

.year {
    margin-left: 6%;
    width: 25%;
    height: auto;
    font-weight: bold;
}

.jobdetail {
    letter-spacing: 1px;
    color: #8d8d8d;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textportfolio {
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-top: 10%;
    letter-spacing: 20px;
    /* font-style: oblique; */
    font-family: 'Patrick Hand', cursive;
}

.textportfolio:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.m,
.p {
    font-size: 2em;
    color: rgb(8, 253, 216);
}

.describe {
    color: #b3b3b3;
    font-size: 1em;
    margin-left: 8%;
    margin-top: 3%;
    width: 50%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}

.pfcontainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
}

.pf {
    width: 100%;
    height: 100%;
}

.pf>div {
    width: 100%;
    height: 100%;
}

.pf>div>img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.pf>div>a>img {
    border-radius: 100%;
    position: relative;
    bottom: 70%;
    left: 28%;
    display: block;
    width: 45%;
    opacity: 0;
}

.pf>div>img:hover,
.pf>div>a>img:hover {
    opacity: 1;
    transition: opacity .5s linear 0s;
}

.contactme {
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-top: 5%;
    letter-spacing: 20px;
    /* font-style: oblique; */
    font-family: 'Patrick Hand', cursive;
}

.contactme::first-letter {
    font-size: 2em;
    color: rgb(8, 253, 216);
}

.contactme:hover {
    color: rgb(8, 253, 216);
    transition: color 1s linear 0s;
}

.fillblank {
    width: 60%;
}

.fillbox {
    list-style: none;
}

.fillline {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    background: #2b2b2b;
    margin-bottom: 10px;
}

.filllinemsg {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    background: #2b2b2b;
    margin-bottom: 10px;
}

form :focus {
    outline: none;
    border-bottom: 3px solid rgb(8, 253, 216);
    transition: border .5s ease-in 0s;
}

.liname {
    width: 49%;
    margin: 0;
    float: left;
}

.liemail {
    width: 49%;
    margin-left: 2%;
    float: right;
}

.limessage {
    min-height: 150px;
}

.btnsendmsg {
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 70%;
    width: 100%;
    max-width: 300px;
    height: 60px;
    text-align: center;
    color: rgb(8, 253, 216);
    cursor: pointer;
    border: 1px solid rgb(8, 253, 216);
}

.btnsendmsg:hover {
    background-color: rgb(8, 253, 216);
    color: rgb(29, 29, 29);
    transition: background-color .5s ease-in 0s;
}

.navmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #181818;
    position: fixed
}

.menu:first-child {
    border-top: .2em solid rgb(29, 29, 29);
    background-color: #181818;
}

.menu {
    color: #8d8d8d;
    border-bottom: .2em solid rgb(29, 29, 29);
    background-color: #181818;
    padding: 1em 0;
    text-align: center;
    font-size: 1em;
}

.menu a {
    text-decoration: none;
    color: #8d8d8d;
}

.menu a:hover {
    color: rgb(8, 253, 216);
}

.contactrightmenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #181818;
    text-align: center;
}

.contactrightmenulogo {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    border-radius: 30%;
    padding: .5em .5em;
    margin: .5em 2em;
}

.contactrightmenu>a>svg {
    border-radius: 50%;
}

.contactrightmenulogo:first-child {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    border-radius: 30%;
    padding: .5em .5em;
    margin: .5em 2em;
    margin-top: 3em;
}

.contactrightmenulogo:hover {
    background-color: rgb(8, 253, 216);
}